$height: 13.33rem;
$mecolor:#b2e281;
$backcolor:#EEEEEE;
@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
#chat{

  background: $backcolor;
  // min-height:$height;
  overflow:auto;
  h1{
  	@include font-dpr(17px);
  	margin-top:.53rem;
  	margin-bottom:.27rem;
  	text-align:center;
  }
  hr{
    margin:.53rem 0;
  }
  .clock{
    text-align: center;
  }
  .clock>span{
    @include font-dpr(14px);
  }
  text-align:right;
  .me{
    margin:.27rem;
    margin-left:3rem;
    margin-right:.5rem;
    display:inline-block;
    position:relative;
    text-align:left;
    .qipao{
      position:absolute;
      width:0;
      height:0;
      border-width:.15rem;
      border-style:solid;
      border-color:transparent transparent transparent $mecolor;
      right:0;
      transform:translateX(100%);
      top:.29rem;
    }
    div.item{
      @include font-dpr(17px);
      color:black;
      display:inline-block;
      border-radius: .13rem;
      padding:.19rem;
      background:$mecolor;
    }
  }
  .robot{
    margin:.27rem;
    margin-right:3rem;
    text-align:left;
    margin-left:.5rem;
    position:relative;
    .qipao{
      position:absolute;
      width:0;
      height:0;
      border-width:.15rem;
      border-style:solid;
      border-color:transparent white transparent transparent;
      left:0;
      transform:translateX(-100%);
      top:.29rem;
    }
    div.item{
     @include font-dpr(17px);
     display:inline-block;
     border-radius: .13rem;
     padding:.19rem;
     background:white;
   }
  }
}
#type{
  z-index:3;
  height:.69rem;
  background-color: $backcolor;
  display:flex;
  justify-content: space-around;
  #info{
    margin-left:.1rem;
    width:8.45rem;
    height:inherit;
    // height:.69rem;
    @include font-dpr(17px);
    line-height: .53rem;
    padding:.03rem 0;
    box-sizing: border-box;
    font-family:inherit;
    flex-grow: 1;
  }
  #send{
    @include font-dpr(17px);
    width:1.17rem;
    height:inherit;
    // background-color: buttonface;
    // height:.69rem;
    padding:.03rem 0;
    box-sizing: border-box;
    font-family:inherit;

  }
}
