$height: 500px;
$mecolor:#b2e281;
$backcolor:#EEEEEE;
#chat{
  background: $backcolor;
  min-height:$height;
  overflow:auto;
  .me{
    margin:10px;
    margin-left:30%;
    text-align:right;
    div{
      display:inline-block;
      border-radius: 5px;
      padding:7px;
      background:$mecolor;
    }
  }
  .robot{
    margin:10px;
    margin-right:30%;
    text-align:left;
    div{
     display:inline-block;
     border-radius: 5px;
     padding:7px;
     background:white;
   }
  }
}
